@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root
{
  --header-font-family: "Pattaya", sans-serif;
  --header-font-weight: 400;
  --header-font-style: normal;
  
  --title-font-family: "Story Script", sans-serif;
  --title-font-weight: 400;
  --title-font-style: normal;
  
  --subtitle-font-family: "PT Serif", serif;
  --subtitle-font-weight: 400;
  --subtitle-font-style: normal;
    
  --main-background-color: #1B3454;
  --main-text-color: #ffffff;
  --secondry-background-color: #26A7AA;
}

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.header
{
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-style: var(--header-font-style);
  display: flex;
  justify-content: left;
  align-items: center;
  height: 10vh;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-left: 1vw;
  font-size: 3rem;
  
}

.main-content
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 50vh;
}  


nav
{
  display: flex;
  flex-direction: column;
  margin: 2rem;
  max-width: 1000px;
}

h2
{
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  font-style: var(--title-font-style);
  font-size: 2.3rem;
  letter-spacing: 3px;
}

.list-item
{
  font-family: var(--subtitle-font-family);
  font-weight: var(--subtitle-font-weight);
  font-style: var(--subtitle-font-style);
  font-size: 1.5rem;
  margin: 1rem;
  list-style-type: none;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: var(--secondry-background-color);
  padding: 1rem;
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}