@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');


:root
{
  --main-font-family: "Story Script", sans-serif;
  --main-font-weight: 400;
  --main-font-style: normal
}

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header
{
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #333;
  color: white;
  font-size: 45px
}

.main-content
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: #f0f0f0;
}

nav
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1000px;
}

h2
{
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  margin-right: 15vw;
}

ul > li
{
  display: inline-block; 
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

ul > li > a
{
  text-decoration: none;
  color: black;
}